<p id="notice"><%= notice %></p>

<p>
  <strong>Symptom:</strong>
  <%= @illness.symptom %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @illness.hospital %>
</p>

<p>
  <strong>Data:</strong>
  <%= @illness.data %>
</p>

<p>
  <strong>Appointment:</strong>
  <%= @illness.appointment_id %>
</p>

<%= link_to 'Edit', edit_illness_path(@illness) %> |
<%= link_to 'Back', illnesses_path %>
