<p id="notice"><%= notice %></p>

<p>
  <strong>Doctor name:</strong>
  <%= @appointment.doctor_name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
